
<div class="container mt-4">

    <%if user_signed_in?%>
        <h3>Hola <%= current_user.email%> </h3>
    <%end%>

    <h1 class="text-danger"><b>Mis Articulos</b></h1>
    <hr>
    <% @articles.each do |article| %> 
        <h3><%= article.title %></h3>
        <p><%= article.body%></p>
       
            
        <%= link_to "Eliminar", {:action => :destroy, :id => article.id},
        :method => :delete, data: { :confirm => "Seguro? "},  class: "btn btn-danger my-3" %>  

        <%= link_to "Editar", {:action => :edit, :id => article.id},class: "btn btn-warning my-3" %>

        <%= link_to "Ver", {:action => :show, :id => article.id}, class: "btn btn-info my-3" %>  
    <% end %> 
    
  

</div>