<!-- <%= form_with(url: "/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %> -->
<div class="container mt-3">
  <h2>Crear Articulo</h2>
  <%= render "form", name: "Crear" %> 
</div>
