<div class="container mt-3">

    <h6 class="text-danger">Visitas: <%= @article.visits_count %></h6>
    <h4 class="text-danger">Titulo</h4>
    <p> <%= @article.title %> </p>

    <% unless @article.user.nil? %>
        <h4 class="text-danger">By</h4>
        <p> <%= @article.user.email %> </p>
    <% end %>
    
    
    <h4 class="text-danger">Content</h4>
    <p> <%= @article.body %> </p>

    <h3>Comentarios</h3>
    <%= render "comments/form"%>

    <ul class="list-group">
        <% @article.comments.each do |comment| %>
            <li class="list-group-item"> 
            <%=comment.body %> - <%=comment.user.email %>
            </li>
        <% end %>
    </ul>

</div>